
*.dll
*.pdb
*.dll
Atrium API/Atrium API/bin/Debug/net46/Atrium API.dll
Atrium API/Atrium API/bin/Debug/net46/Atrium API.pdb
Atrium API/Atrium API/obj/Release/net46/Atrium API.dll
AtriumREST/AtriumREST/.vs/AtriumREST/DesignTimeBuild/.dtbcache.v2
AtriumREST/AtriumREST/.vs/AtriumREST/v16/.suo
AtriumREST/AtriumREST/.vs/AtriumREST/DesignTimeBuild/.dtbcache.v2
